.cardContainer{
    position: relative;
}
.card{
    border: 5px solid rgba(0, 0, 0, 0.6);
    height: 200px;
    width: 200px;
    position: relative;
    z-index: 1;
}
.backCard{
    width: 210px;
    height: 210px;
    transform: rotate(-10deg);
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
}
.card p{
    font-size: 14px;
}

.cardHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 8px 10px;
}

.pin{
    position: absolute;
    right: 0;
    top: -29px;
    color: black;
}

.cardText{
    height: 120px;
    word-wrap: break-word;
    overflow-x: auto;
    text-overflow: ellipsis;
    margin: 0 6px;
}

.cardText::-webkit-scrollbar {
    width: 6px;
}

.cardText::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}

.cardText::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.cardDelete{
    position: absolute;
    bottom: 5px;
    right: 5px;
    cursor: pointer;
}

.updateText{
    width: 182px;
    height: 110px;
    resize: none;
    border: none;
    background-color: transparent;
}

.updateText::-webkit-scrollbar {
    width: 6px;
}

.updateText::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}

.updateText::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}